/*html {
	overflow-y: scroll;
}*/
#myModal {
	overflow-y: hidden;
}
body {
  padding-bottom: 40px;
  padding-top: 50px;
  /*background-color: #eee;*/
  /*background-color: #e7e7e7;*/
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.modify-group-data {
	max-width: 400px;
	padding: 15px 0px;
	margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.danger {
	color: red;
	font-size: 14px;
	float: right;
}

.padding15 {
	padding-bottom: 15px;
}

.width50 {
	width: 50%;
}

.page-item {
	cursor: pointer;
}

#tab_main{
	margin: 30px 10px 10px 10px;
}

/* input tag */
div.inputTags-list span.inputTags-item span.value {
  cursor: pointer;
}
div.inputTags-list {
  display: inline-block;
  width: 100%;
  padding: 6px;
  border: 1px solid rgba(25, 188, 156, 0.35);
  background-color: #f9f9f9;
  box-shadow: 1px 2px 2px rgba(221, 221, 221, 0.2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
div.inputTags-list span.inputTags-item {
  position: relative;
  display: inline-block;
  margin: 2px;
  padding: 3px 22px 4px 8px;
  background-color: #19BC9C;
  text-align: center;
  color: #fff;
  opacity: 1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
div.inputTags-list span.inputTags-item.is-edit {
  display: none;
}
div.inputTags-list span.inputTags-item.is-hidden {
  display: none !important;
}
div.inputTags-list span.inputTags-item.is-exists {
  background-color: rgba(231, 76, 60, 0.7);
}
div.inputTags-list span.inputTags-item span.value {
  cursor: pointer;
}
div.inputTags-list span.inputTags-item i {
  position: absolute;
  top: 50%;
  right: 6px;
  font-size: 20px;
  cursor: pointer;
  z-index: 10;
  font-weight: 400;
  font-family: sans-serif;
  line-height: 1;
  font-style: normal;
  -webkit-transition: color 0.2s;
  -khtml-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
  -webkit-transform: translateY(-50%);
  -khtml-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
div.inputTags-list span.inputTags-item i:hover {
  color: #e74c3c;
}
div.inputTags-list input.inputTags-field {
  border: none;
  margin-left: 4px;
  background-color: transparent;
}
div.inputTags-list input.inputTags-field:focus,
div.inputTags-list input.inputTags-field:active {
  outline: none;
}
div.inputTags-list input.inputTags-field.is-edit {
  margin: 0 2px;
  padding: 4px 8px 3px 8px;
  border: 1px dashed #c4c4c4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
div.inputTags-list ul.inputTags-autocomplete-list {
  position: absolute;
  max-height: 192px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #fff;
  border: 1px solid #ddd;
  overflow-y: auto;
  z-index: 100;
  opacity: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transform: scaleY(0);
  -khtml-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  -khtml-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  -webkit-transition-duration: 0.2s;
  -khtml-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}
div.inputTags-list ul.inputTags-autocomplete-list.is-active {
  opacity: 1;
  -webkit-transform: scaleY(1);
  -khtml-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
}
div.inputTags-list ul.inputTags-autocomplete-list li {
  width: 450px;
  height: 32px;
  line-height: 32px;
  padding: 0 16px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  -webkit-transition-duration: 0.3s;
  -khtml-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.2s;
  -khtml-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}
div.inputTags-list ul.inputTags-autocomplete-list li:last-child {
  border: none;
}
div.inputTags-list ul.inputTags-autocomplete-list li:hover {
  background-color: #19BC9C;
  color: #fff;
}
div.inputTags-list ul.inputTags-autocomplete-list li.is-disabled {
  cursor: default;
  background-color: #428bca;
  color: initial;
}
p.inputTags-error {
  position: relative;
  margin: 0;
  padding: 0.5em 1em;
  color: #fff;
  background-color: rgba(231, 76, 60, 0.7);
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
p.inputTags-error:first-of-type {
  margin-top: 8px;
}
p.inputTags-error:after {
  position: absolute;
  content: "\000D7";
  top: 50%;
  right: 0.5em;
  -webkit-transform: translateY(-50%);
  -khtml-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  font-size: 28px;
}
/* input tag */

/* hans */
.margin-bottom-20 {
	margin-bottom: 20px;
}
.margin-top-10 {
	margin-top: 10px;
}
.margin-top--12 {
	margin-top: -12px;
}
.margin-top-5 {
	margin-top: 5px;
}
.info-card {
	border: 1px solid red; 
	border-radius: 5px;
	padding: 10px;
}
.info-card-header {
	font-weight: bold; 
	font-size: 1em; 
	color:black;
    padding-left: 10px;
    padding-top: 5px;
	padding-bottom: 5px;
}
.info-card-list {
	padding-left: 30px;
	padding-bottom: 10px;
}
.info-card-list-1 {
	padding-left: 30px;
	padding-bottom: 10px;
}
.red {
	color: red;
}
.large1-5 {
	font-size: 1.5em;
}
.large1-2 {
	font-size: 1.2em;
}
.radio-layout{
	text-align: center;
	margin-bottom: 20px;

}
.float-to-right {
	float: right;
}
.float-to-left {
	float: left;
}
.float-clear {
	clear: both;
}
#profile-layout {
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 8px;
	padding: 30px;
    margin-bottom: 30px;
}
#password-layout {
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 8px;
	padding: 30px;
    margin-bottom: 30px;
}
.form-modify {
	max-width: 50%;
    padding: 15px;
    margin: 0 auto;
}
.active-radio {
	font-size: 1.2em;
    font-weight: bold;
}
#sidelist {
	position: absolute;
	min-width: 100px;
	max-width: 400px;
	height: 400px;
	border: 2px dashed red;
	border-radius: 5px;
	top: 100px;
	right: 0px;
	padding: 5px;
}
#sidelist .header {
	text-align: center;
    border-bottom: 1px solid black;
	padding-top: 5px;
	padding-bottom: 5px;
}
.checked-pink {
	background-color: #FDE2C4;
}
#checkedList ul {
	padding-top: 10px;
}
select#sel, select#sel2, select#sel3 {
	display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
select#sel2, select#sel3 {
	margin-left: 5px;
}
select#sel3 {
	flex: 0 0 300px;
}
#myForm > select#sel, #myForm > select#sel2, #myForm > select#sel3 {
	display: inline-block;
	width: auto;
    flex: 1 0 240px;
}

.upload-text textarea {
	height: 100px;
	margin-top: 10px;
}
.extrahtml {
	margin-top: 10px;
}
.ajax-file-upload-filename {
	margin-top: 5px;
}
.extrahtml > div {
	width: 98%;
}
.margin-top-10 {
	margin-top: 10px;
}
.margin-bottom-10 {
	margin-bottom: 10px;
}
.flexbox {
	display: flex;
	flex-direction: row;
}
.start-upload-btn-layout {
	justify-content: center;
	margin-bottom: 20px;
}

#text-ok, #text-total, 
#dict-ok, #dict-total, 
#stat-ok, #stat-total {
	display: inline-block;
	text-align: right;
	width: 40px;
}

.margin-left-right-8 {
	margin-left: 8px;
	margin-right: 8px;
}
.margin-left-3 {
	margin-left: 3px;
}
.spacer-horizontal {
	display: inline-block;
}
li.notification {
	width: 250px;
	padding: 12px 20px 12px 20px;
}
.notify-label {
	font-size: 0.9em;
	width: 48px;
	padding-left: 10px;
	display: inline-block;
}
.margin-top-2 {
    margin-top: 2px;
}
.red-font {
	color: red;
}
.black-font {
	color: black;
}
.bold-font {
	font-weight: bold;
}
span#notification-count {
	color: red;
    position: absolute;
    top: 5px;
    right: 4px;
    font-size: 15px;
	display: none;
}
.form-ele-inline {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
.form-ele-block {
    display: block;
    width: 100%;
	height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
.width-70p {
	width: 70%;
}
.width-50p {
	width: 50%;
}
button.width-50p {
	width: 50%;
}
.width-98p {
	width: 98%;
}
.flex-50p {
	flex: 1 1 50%;
}
.tagspace {
	flex: 1 1 5%;
}
.min-height-150 {
	min-height: 150px;
}
.height-30 {
	height: 30px;
}
.flex-50p {
	flex: 1 1 50%
}
#joined-group, #total-group {
	min-height: 150px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 5px;
    padding: 5px 4px;
}
.text-tag {
	cursor: pointer;
	display: inline-block;
    position: relative;
    padding: 5px 8px;
	margin: 3px 1px;
    text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
    background: #19BC9C;
	color: white;
	border-radius: 3px;
    transition: all .3s ease-in-out;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.margin-left-5 {
	margin-left: 5px;
}
.bs-red {
	background: #d9534f;
}
.other-group-op {
	float: right;
    margin-right: 5px;
}
.margin-right-20 {
	margin-right: 20px;
}
.margin-top-15 {
	margin-top: 15px;
}
.margin-top-25 {
	margin-top: 25px;
}
.height-100 {
	height: 100px;
}
.group-type-tag {
    display: inline-block;
    width: 80px;
    padding: 2px 10px;
    font-size: 1.2rem;
    padding-right: 10px;
    color: white;
    text-align: center;
	background: #84B1ED;
    border-radius: 5px;
	margin-bottom: 4px;
}
.aqua-blue {
    color: white;
	background: #60c5ba;
}
.dark-blue {
	color: white;
	background: #6a60a9;
}
.pink-purple {
	color: white;
	background: #C89EC4;
}
.cred-1 {
	color: white;
	background: #f15c5c;
}
.group-tool-menu {
    display: inline-block;
    float: right;
    position: absolute;
    right: 12px;
    top: 10px;
}
.group-side-menu {
	margin-right: 10px;
	display: flex;
    flex-direction: column;
    width: 150px;
    position: relative;
	/*border: 1px solid rgba(0,0,0,0.3);
    padding: 9px;
    border-radius: 5px;*/
}
.group-top-create {
	text-align: right;
    margin-top: -42px;
    margin-bottom: 10px;
    margin-right: 0px;
}
.flex-fill {
	flex: 1 1 auto;
}
div.group-wrapper {
	display: flex;
	margin-left: -85px;
}
.list-group-title {
	font-weight: bold;
    font-size: 1.3em;
    color: #282c37;
}
.list-group-desc {
	font-size: 0.9em;
    color: rgba(0, 0, 0, 0.6);
}
div.height-700 {
	height: 700px;
}
.valid_div_funs_checkbox, 
.manage_div_funs_checkbox {
    display: flex;
    justify-content: space-between;
	margin-top: -5px;
}
.right-top-10-button {
    position: absolute;
    top: 30px;
    right: 10px;
}

.valid-user-name {
	font-weight: bold;
	display: inline-block;
	margin-bottom: 5px;
	margin-top: 8px;
}
.header-right-switch {
    position: absolute;
    right: 65px;
    top: 16px;
}
.header-right-add {
    position: absolute;
    right: 45px;
    top: 16px;
}
.pointer-cursor {
	cursor: pointer;
}
.manage-user-header {
	background: #00978a;
    opacity: 0.6;
    top: -1px;
    position: absolute;
    left: 0;
    width: 100%;
    color: white;
    text-align: center;
}
.header-first {
    border-radius: 3px 3px 0px 0px;
}
.margin-top-15 {
	margin-top: 15px;
}
.margin-top--20 {
	margin-top: -20px;
}
.margin-top-20 {
	margin-top: 20px;
}
.margin-bottom-15 {
	margin-bottom: 15px;
}
.margin-top--15 {
    margin-top: -15px;
}
.header-no {
	position: absolute;
    left: 20px;
}
.height-700-scroll {
	height: 700px;
	overflow-y: auto;
}
.text-upload-group {
    display: flex;
    flex-direction: row;
}
.text-upload-group-label {
	display: inline-block;
    flex: 0 1 auto;
    padding-top: 7px;
}
.text-upload-group-select {
	flex: 1 1 auto;
}
.margin-bottom--30 {
	margin-bottom: -30px;
}
.noresize {
	resize: none;
	overflow-x: hidden;
	overflow-y: auto;
}
#user-memo {
	resize: none;
	height: 80px;
	overflow-x: hidden;
	overflow-y: auto;
}
input.valign--2 {
	vertical-align: -2px;	
}
.fgt-password-header {
	margin-top: -10px;
	text-align: center;
	margin-bottom: 20px;
}
#fgt-password-layout {
	width: 100%;
	text-align: center;
}
#fgt-password-content {
  display: inline-block;
  height: auto;
  border: 1px solid rgba(0,0,0,0.4);
  border-radius: 10px;
  width: 70%;
  padding: 20px 50px;
}
#smartwizard > ul.fgtp-step {
	display: flex;
    flex-direction: row;
    justify-content: space-around;
	margin-top: 30px;
}
#fgtp-send-email{
	width: 20%;
	text-align: center;
	display: inline-block;
}
.text-center {
	text-align: center;
}
.inline-block {
	display: inline-block;
}
.not-valid-token {
	margin-top: 110px;
    text-align: center;
}
.not-same-password {
	padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    color: red;
}
#suer-reset-btn {
	width: 20%;
	text-align: center;
	display: inline-block;
}
.fgt-back-login {
	text-align: left;
	margin-top: -5px;
	margin-left: -30px;
}
.register-form {
	border: 1px solid rgba(0,0,0,0.3);
    margin: 0 auto;
    width: 50%;
    padding: 0px 5% 5% 5%;
    border-radius: 5px;
}
.rg-back-login {
	text-align: left;
	margin-top: 15px;
	margin-left: -30px;
}
.ip-valid-info {
	cursor: pointer;
	float: right;
    margin-right: 3px;
    color: red;
}
#ip-tooltip {
	left: -4px;
    top: -4px;
    position: absolute;
    background-color: white;
    display: none;
}
#ip-tooltip-member {
	left: -4px;
    top: -4px;
    position: absolute;
    background-color: white;
    display: none;
	z-index: 99;
}
.abuse-log-load-more-btn{
	text-align: center; 
	margin-top: 10px;
}