@charset "UTF-8";
/*  RWD Grid
************************************************************/

/*  Sections  */
.grid-section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
/*  Column Setup  */
.grid-col {
	display: block;
	float: left;
	margin: 1% 0 1% 3.2%;
}
.grid-col:first-child {
	margin-left: 0;
}
/*  Grouping */
.grid-group:before, .grid-group:after {
	content: "";
	display: table;
}
.grid-group:after {
	clear: both;
}
.grid-group {
	zoom: 1; /* For IE 6/7 */
}
/*  12 Grid Setup  */
.grid-col-12 {
	width: 100%;
}
.grid-col-11 {
	width: 91.4%;
}
.grid-col-10 {
	width: 82.8%;
}
.grid-col-9 {
	width: 74.2%;
}
.grid-col-8 {
	width: 65.6%;
}
.grid-col-7 {
	width: 57%;
}
.grid-col-6 {
	width: 48.4%;
}
.grid-col-5 {
	width: 39.8%;
}
.grid-col-4 {
	width: 31.2%;
}
.grid-col-3 {
	width: 22.6%;
}
.grid-col-2 {
	width: 14%;
}
.grid-col-1 {
	width: 5.4%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
.col {
	margin: 1% 0 1% 0%;
}
.grid-col-1, .grid-col-2, .grid-col-3, .grid-col-4, .grid-col-5, .grid-col-6,  .grid-col-7, .grid-col-8, .grid-col-9, .grid-col-10, .grid-col-11, .grid-col-12 {
	width: 100%;
}
}
/*  RWD Grid  End
************************************************************/


/*body {
	position: relative;
	font-family: Microsoft JhengHei, "微軟正黑體", Arial, Helvetica, sans-serif;
}
a, p, div, strong, span, ul, li, label, em, h1, h2, h3, h4, h5, h6 {
	font-family: Microsoft JhengHei, "微軟正黑體", Arial, Helvetica, sans-serif;
}*/
a, div.search {
	font-family: Microsoft JhengHei, "微軟正黑體", Arial, Helvetica, sans-serif;
}
a {
	text-decoration: none;
}
img {
	display: block;
}
/* CLEAR FIX
----------------------------------------------------- */

*:first-child+html .clearfix {
	display: inline-block;
}
/* for IE7 */

.clearfix:after {
	content: " ";
	display: block;
	visibility: hidden;
	clear: both;
	height: 0.1px;
	font-size: 0.1em;
	line-height: 0;
}
* html .clearfix {
	display: inline-block;
}
/* no ie mac \*/

* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
	clear: both;
}
/* CLEAR */
.clear {
	clear: both !important;
}
/* CLEAR FIX End
----------------------------------------------------- */

.wrapper {
	width: 100%;
	float: left;
	position: relative;
  /* add by ascdc */
	/*background: #ededed;*/
}
.header {
	width: 100%;
	float: left;
	background: #fff;
}
.index-header {
	border-top: 4px solid #00a29a;
}
.collection-header {
	border-top: 4px solid #ff945c;
}
.technical-header {
	border-top: 4px solid #4c99cf;
}
.site-header {
	border-top: 4px solid #ee5c3c;
}
.union-header {
	border-top: 4px solid #B9A55D;
}
.header-position {
	width: 80%;
	padding: 0 10%;
	margin: 0 auto;
	overflow: hidden;
}
.header .logo {
	float: left;
	margin: 12px 0 15px 0;
}
.header .misc {
	float: right;
	font-size: 13px;
	width: 40%;
	padding: 14px 0;
	text-align: right;
}
.header .misc li {
	width: auto;
	display: inline;
	padding-left: 10px;
	margin-left: 10px;
	background: url(../images/misc_arr.png) left center no-repeat;
}
.header .misc li a {
	color: #333;
}
.header .misc li a:hover {
	color: #999;
}
.header .search {
	text-align: right;
	float: right;
	margin-top: 17px;/*width: 390px;*/
}
.header .search .textfield {
	font-size: 15px;
	padding: 8px 8px;
	border: 1px #d8d8d8 solid;
	float: left;
	width: 222px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}
.header .search .btn {
	float: left;
	width: 36px;
	height: 35px;
	background: url(../images/search_icon.png) center center no-repeat #666;
	border: none;
	margin-left: 5px;
	padding: 0;
	text-indent: -9999px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	cursor: pointer;
}
.header .search .adv-btn {
	float: left;
	height: 33px;
	background: #72b4bc;
	border: none;
	color: #fff;
	font-size: 15px;
	margin-top: 1px;
	margin-left: 10px;
	padding: 0 20px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	cursor: pointer;
}
.header .search .hot-keyword {
	width: 100%;
	float: left;
	text-align: left;
	color: #333;
	font-size: 12px;
	margin-top: 10px;
}
.header .search .btn:hover, .header .search .adv-btn:hover {
	background-color: #72b4bc;
}
.header .search .hot-keyword dt, .header .search .hot-keyword dd {
	float: left;
}
.header .search .hot-keyword dt {
	width: 74px;
}
.header .search .hot-keyword dd {
	width: 313px;
}
.header .search .hot-keyword a {
	color: #333;
	margin-right: 5px;
	text-decoration: underline;
}
.header .search .hot-keyword a:hover {
	color: #999;
}
.header .main-nav-section {
	width: 100%;
	float: left;
	background: #f5f5f5;
}
.header .main-nav {
	padding: 0 40px;
	margin: 0 auto;
	max-width: 1184px;
	text-align: center;
}
.header .main-nav ul {
/*float: left;*/
	/*width: 100%;*/
}
.header .main-nav ul li {
	/*float: left;*/
	padding: 0;
	width: 11%;
	font-size: 17px;
	display: inline;
	height: 49px;
	line-height: 49px;
}
.header .main-nav ul li:first-child {
	margin-left: 0px;
}
.header .main-nav ul li a {
	display: inline;
	border-right: 1px solid #ccc;
	color: #333;
	padding: 0 30px;
	text-decoration: none;
	text-align: center;
}
.header .main-nav ul li:first-child a {
	border-left: 1px solid #ccc;
}
.header .main-nav ul li a:hover {
	color: #00a29a;/*background: #72b4bc;*/
}
.header .main-nav ul li .current {
	color: #00a29a;/*background: #72b4bc;*/
}
.header .select-language {
	float: right;
	/*width: 90px;*/
	height: 21px;
	line-height: 21px;
	background-repeat: no-repeat;
	background-position: 29px center;
	overflow: hidden;
	margin-top: 24px;
	margin-left: 20px;
	font-size: 14px;
}
.header .select-language a {
	color: #333;
}
.header .select-language #tw {
	float: left;
}
.header .select-language #en {
	float: right;
}
.header .select-language .switch-btn {
	background: #cccccc;
	margin: 0 5px;
	width: 40px;
	height: 21px;
	-webkit-border-radius: 99px;
	-moz-border-radius: 99px;
	border-radius: 99px;
	behavior: url(../htc/PIE.htc);
	text-align: left;
	display: block;
	float: left;
}
.header .select-language .switch-btn .btn {
	background: #fff;
	width: 17px;
	height: 17px;
	-webkit-border-radius: 99px;
	-moz-border-radius: 99px;
	border-radius: 99px;
	behavior: url(../htc/PIE.htc);
	display: block;
	cursor: pointer;
}
.header .select-language-tw .switch-btn .btn {
	float: left;
	margin: 2px 0 0 2px;
}
.header .select-language-en .switch-btn .btn {
	float: right;
	margin: 2px 2px 0 0;
}
.footer {
	float: left;
	width: 100%;
	color: #fff;
	font-size: 12px;
	padding: 35px 0 35px 0;
	background: #5c5c5c;
}
.index-footer {
	border-top: 4px solid #00a29a;
}
.collection-footer {
	border-top: 4px solid #ff945c;
}
.technical-footer {
	border-top: 4px solid #4c99cf;
}
.site-footer {
	border-top: 4px solid #ee5c3c;
}
.union-footer {
	border-top: 4px solid #B9A55D;
}
.footer a {
	color: #fff;
}
.footer a:hover {
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	opacity: 0.7;
}
.footer-content {
	max-width: 1184px;
	margin: 0 auto;
	padding: 0 40px;
	overflow: hidden;
}
.footer-info-content {
	width: 100%;
	float: left;
	text-align: left;
	margin-top: 5px;
	padding: 0;
}
.fat-footer {
	float: left;
}
.fat-footer .col {
	float: left;
	width: 28%;
	margin-right: 4%;
}
.fat-footer .col li {
	float: left;
	width: 85%;
	padding: 2px 8%;/*border-bottom: 1px #91c4cb solid;*/
}
.fat-footer .col li a {
	font-weight: bold;
	line-height: 16px;
	font-weight: normal;
}
.fat-footer .col li {
	padding-left: 27px;
	background: url(../images/fat_footer_arr.png) 20px 8px no-repeat;
}
.fat-footer .col li.title {
	padding-left: 8%;
	background: none;
}
.fat-footer .col li.title a {
	font-size: 14px;
	font-weight: bold;
}
.footer-info {
	float: right;
	text-align: right;
}
.footer-info .footer-social-icon {
	float: left;
	width: 100%;
	margin-bottom: 10px;
}
.footer-info .footer-social-icon li {
	float: left;
	margin-right: 3%;
}
.footer-info .footer-share-icon {
	float: left;
	width: 100%;
}
.footer-info .footer-share-icon li {
	float: left;
	margin-right: 3%;
	margin-bottom: 5px;
}
.index-content {
	width: 100%;
	/*max-width: 1184px;*/
	padding: 0;
	margin: 80px auto 0 auto;
	overflow: hidden;
}
.page-content {
	width: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
.crumb {
	font-size: 12px;
	width: 78%;
	color: #666;
	padding: 8px 11%;
	margin: 0 auto;
	float: left;
	border-bottom: 1px #ddd solid;
}
.crumb a {
	color: #666;
	padding-left: 11px;
	text-decoration: underline;
	background: url(../images/crumb_arr.png) 0 5px no-repeat;
}
.crumb .home {
	padding-left: 15px;
	text-decoration: underline;
	background: url(../images/crumb_home.png) 0 5px no-repeat;
}
.crumb span {
	margin-left: 8px;
	padding-left: 11px;
	background: url(../images/crumb_arr.png) 0 5px no-repeat;
}
.crumb .current {
	color: #666;
	font-weight: bold;
}
.share-btn-wrap {
	float: left;
	width: 100%;
	padding: 20px 0;
	text-align: center;
}
.page-kv {
	width: 100%;
	float: left;
	text-align: center;
	color: #fff;
	font-size: 32px;
}
.page-kv .unit-title {
	padding: 30px;
	font-weight: bold;
}
.page-kv-collection {
	background: url(../images/page_kv_collection.jpg) center top no-repeat;
}
.paging {
	width: 100%;
	float: left;
	text-align: center;
	margin: 20px 0 50px 0;
}
.paging a {
	color: #666;
	font-size: 14px;
	padding: 8px 0;
	margin: 0 1px 3px 1px;
	background: #ccc;
	width: 32px;
	display: inline-block;
}
.paging a:hover {
	background: #ddd;
}
.paging .current {
	background: #ddd;
}
.paging .prev {
	width: 70px;
	padding-left: 15px;
	background: url(../images/paging_prev.png) 15px 11px no-repeat #ccc;
}
.paging .next {
	width: 70px;
	padding-right: 15px;
	background: url(../images/paging_next.png) 57px 11px no-repeat #ccc;
}
.paging .prev:hover {
	background: url(../images/paging_prev.png) 15px 11px no-repeat #ddd;
}
.paging .next:hover {
	background: url(../images/paging_next.png) 57px 11px no-repeat #ddd;
}
.unit-heading {
	width: 90%;
	text-align: center;
	background: #B9A55D;
	color: #fff;
	font-weight: bold;
    margin: 0 5%;
	padding: 20px 0;
	font-size: 24px;
}
.site-heading {
	background: #ee5c3c;
}
