@charset "UTF-8";
.bx-wrapper {
	-webkit-box-shadow: 0 0 0 #ccc;
	box-shadow: 0 0 0 #ccc;
	border: 0;
	background: transparent;
}
/* 首頁 
************************************************/
.index-ad {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
}
/*.index-ad .bx-viewport {
    overflow: visible !important;
}*/
.index-ad .bx-wrapper img {
	display: inline;
	width: 100%;
}
.index-ad .bx-wrapper .bx-prev {
	left: 20px;
	background: url(../images/ad_prev.png) no-repeat left 8px;
}
.index-ad .bx-wrapper .bx-next {
	right: 20px;
	background: url(../images/ad_next.png) no-repeat right 8px;
}
.index-ad .bx-wrapper .bx-prev:hover {
/*background: url(../images/ad_prev.png) no-repeat 12px center #64843f;*/
}
.index-ad .bx-wrapper .bx-next:hover {
/*background: url(../images/ad_next.png) no-repeat 14px center #64843f;*/
}
.index-ad .bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	margin-top: -16px;
	outline: 0;
	width: 25px;
	height: 43px;
	padding: 10px 15px;
	text-indent: -9999px;
	z-index: 9999;
}
.index-slider {
	text-align: center;
}
.index-content .unit_title {
	width: 100%;
	text-align: center;
	font-size: 40px;
	margin: 0 auto 40px auto;
}
.index-content .index-news .unit_title .title-line-left, .index-content .index-news .unit_title .title-line-right {
	width: 41.5%;
	height: 26px;
	display: inline-block;
	background: url(../images/title_line.png) 0 center repeat-x;
}
.index-content .unit_title h1 {
	display: inline-block;
	padding: 0 30px;
	font-weight: bold;
}
.index-news {
	float: left;
	width: 100%;
	padding: 40px 0;
	background: url(../images/news_bg.png) 0 0 repeat;
}
.index-news-list {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
}
.index-news-list li {
	width: 32%;
	float: left;
	margin-left: 2%;
	background: #fff;
	position: relative;
}
.index-news-list li:first-child {
	margin-left: 0;
}
.index-news-list li img {
	width: 100%;
}
.label-new {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}
.index-more-btn {
	width: 100%;
	float: left;
	text-align: center;
	margin-top: 40px;
}
.index-more-btn a {
	width: 10%;
	border: 1px solid #333;
	display: block;
	margin: 0 auto;
	padding: 10px 0;
	font-size: 14px;
	font-weight: bold;
	color: #333;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	behavior: url(../htc/PIE.htc);
}
.index-more-btn a:hover {
	color: #999;
	border: 1px solid #999;
}
.index-news-info {
	width: 90%;
	padding: 5%;
	float: left;
}
.index-news-info .label {
	width: 60px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	background: #ff96be;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	behavior: url(../htc/PIE.htc);
	padding: 0 2%;
	float: left;
	display: block;
	margin-right: 3%;
}
.index-news-info .label-news {
	background: #ff96be;
}
.index-news-info .label-event {
	background: #ffb400;
}
.index-news-info .label-other {
	background: #755aa6;
}
.index-news-list li .date {
	float: left;
	width: 70%;
	line-height: 20px;
	color: #333;
	display: block;
	font-size: 12px;
	font-weight: bold;
}
.index-news-list-title {
	float: left;
	font-size: 18px;
	width: 100%;
	display: block;
	margin-top: 8px;
	margin-bottom: 8px;
	font-weight: bold;
	line-height: 20px;
	height: 40px;
	color: #333;
	overflow: hidden;
}
.index-news-list-content {
	font-size: 15px;
	float: left;
	width: 100%;
	line-height: 20px;
	color: #333;
}
.index-news-list a:hover .index-news-list-title {
	color: #858585;
}
.index-news-list a:hover .index-news-list-content {
	color: #999;
}
.index-collection {
	float: left;
	width: 100%;
	padding: 40px 0;
	background: url(../images/collection_bg.jpg) center 0 no-repeat;
	background-size: cover;
}
.index-collection-list {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
}
.index-collection-list li {
	width: 24.9%;
	float: left;
	margin-left: 1px;
	background: #f5ebd2;
	position: relative;
}
.index-collection-list li:first-child {
	margin-left: 0;
}
.index-collection-list li img {
	width: 100%;
}
.index-collection-list-title a {
	float: left;
	width: 100%;
	display: block;
	margin-top: 8px;
	margin-bottom: 8px;
	font-weight: bold;
	line-height: 20px;
	height: 36px;
	color: #333;
	font-size: 18px;
}
.index-collection-list-content {
	font-size: 14px;
	float: left;
	width: 100%;
	line-height: 20px;
	color: #333;
}
.index-collection-list a:hover {
	color: #999;
}
.index-collection-info {
	width: 90%;
	padding: 5%;
	float: left;
}
.index-collection .unit_title .title-line-left, .index-collection .unit_title .title-line-right {
	width: 39%;
	height: 26px;
	display: inline-block;
	background: url(../images/title_line.png) 0 center repeat-x;
}
.unit_title .title-line-left {
	float: left;
	margin-top: 10px;
}
.unit_title .title-line-right {
	float: right;
	margin-top: 10px;
}
.index-collection-info .label {
	color: #9c542d;
	float: left;
	display: block;
	font-size: 14px;
	margin-right: 3%;
}
.index-applications {
	float: left;
	width: 100%;
	padding: 40px 0;
}
.index-applications .unit_title .title-line-left, .index-applications .unit_title .title-line-right {
	width: 37%;
	height: 26px;
	display: inline-block;
	background: url(../images/title_line.png) 0 center repeat-x;
}
.index-applications-list {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
}
.index-applications-list li {
	width: 22%;
	float: left;
	padding-left: 1.7%;
	margin-left: 1.7%;
	border-left: 1px #dadada solid;
}
.index-applications-list li:first-child {
	border-left: 0;
	padding-left: 0;
	margin-left: 0;
}
.index-applications-list li .index-applications-list-title {
	width: 100%;
	float: left;
	margin-bottom: 15px;
	font-size: 18px;
}
.index-applications-list li .index-applications-list-title a {
	color: #333;
	font-weight: bold;
}
.index-applications-list li .app-icon {
	float: left;
}
.index-applications-list li .txt {
	float: right;
	width: 65%;
	color: #333;
    font-size: 15px;
    line-height: 22px;
}
.index-applications-list li a:hover {
	color: #666;
}
.index-catalogs-title-wrapper {
	width: 100%;
}
.index-catalogs .unit_title .title-line-left, .index-catalogs .unit_title .title-line-right {
	width: 40%;
	height: 26px;
	display: inline-block;
	background: url(../images/title_line.png) 0 center repeat-x;
}
.index-catalogs {
	float: left;
	width: 100%;
	padding: 40px 0;
	background: #fff;
}
.index-catalogs-list {
	width: 100%;
	margin: 0 auto;
	padding: 0 0 0 1px;
	overflow: hidden;
}
.index-catalogs-list li {
	width: 12.4%;
	float: left;
	margin: 0 1px 1px 0;
	background: #000;
	position: relative;
}
.index-catalogs-list li a .tag {
	position: absolute;
	color: #fff;
	width: 90%;
	margin: 35% 0;
	padding: 5%;
	font-size: 14px;
	text-align: center;
	display: none;
}
.index-catalogs-list li img {
	width: 100%;
}
.index-catalogs-list li:hover img {
	filter: alpha(opacity=20);
	-moz-opacity: 0.2;
	opacity: 0.2;
}
.index-catalogs-list li:hover a .tag {
	display: block;
}
/* 首頁 End
************************************************/


.collection-list-wrapper {
	float: left;
	width: 100%;
	padding: 40px 0;
}
.collection-list {
	width: 93%;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
}
.collection-list li {
	width: 30.3%;
	float: left;
	margin: 0 1.5% 30px 1.5%;
	background: #fff;
	position: relative;
}
.collection-list li img {
	width: 100%;
}
.collection-list-info {
	width: 90%;
	padding: 5%;
	float: left;
}
.collection-list-info .label-news {
	background: #ff96be;
}
.collection-list-info .label-event {
	background: #ffb400;
}
.collection-list-info .label-other {
	background: #755aa6;
}
.collection-list .title {
	float: left;
	width: 100%;
	display: block;
	margin-bottom: 8px;
	font-weight: bold;
	line-height: 20px;
	height: 40px;
	color: #ff945c;
	overflow: hidden;
}
.collection-list .txt {
	font-size: 14px;
	float: left;
	width: 100%;
	line-height: 20px;
	color: #333;
}
.collection-list a:hover .title {
	color: #ffb58e;
}
.collection-list a:hover .txt {
	color: #999;
}
.collection-list-wrapper a:hover .collection-list-block .title {
	color: #ffb58e;
}
.collection-list-wrapper a:hover .collection-list-block .txt {
	color: #999;
}
.collection-list-block, .union-list-block, .technical-list-block, .site-list-block {
    float: left;
    background: #fff;
    width: 90%;
    float: left;
    margin: 0 5% 1px 5%;
    padding: 30px 0;
}
.collection-list-block .pic,
.site-list-block .pic,
.union-list-block .pic {
    float: left;
	margin: 0 2%;
	width: 25%;
}
.collection-list-block .collection-list-content, .union-list-block .union-list-content, .site-list-block .site-list-content {
    float: right;
    width: 69%;
    margin-right: 2%;
}
.collection-list-block .title, .union-list-block .title, .site-list-block .title {
	float: right;
	width: 100%;
	color: #ff945c;
	font-size: 26px;
	line-height: 30px;
	margin: 5px 0 20px 0;
}
.union-list-block .title {
	color: #B9A55D;
}
.site-list-block .title {
	color: #ee5c3c;
}
.collection-list-block .txt, .union-list-block .txt, .site-list-block .txt {
	float: right;
	width: 100%;
	color: #555;
	font-size: 16px;
	margin-bottom: 20px;
	line-height: 24px;
}
.collection-list-block .info, .union-list-block .info, .site-list-block .info {
	float: right;
	width: 100%;
	color: #999;
	font-size: 13px;
	padding-top: 10px;
	border-top: 1px dashed #ddd;
	text-align: right;
    line-height: 22px;
}
.collection-detail {
	background: #fff;
	width: 80%;
	float: left;
	margin: 0 5%;
	padding: 30px 5%;
}
.collection-detail .title {
	font-size: 36px;
	float: left;
	width: 100%;
	padding: 10px 0 30px 0;
	border-bottom: 1px solid #ddd;
}
.collection-detail .txt {
	float: left;
	width: 100%;
	padding: 30px 0;
	line-height: 24px;
	font-size: 16px;
	color: #333;
}
.technical-slider-wrapper {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
}
/*.index-ad .bx-viewport {
    overflow: visible !important;
}*/
.technical-slider-wrapper .bx-wrapper img {
	display: inline;
	width: 100%;/*max-width: 1770px;*/
}
.technical-slider-wrapper .bx-wrapper .bx-prev {
	left: 20px;
	background: url(../images/ad_prev.png) no-repeat left 8px;
}
.technical-slider-wrapper .bx-wrapper .bx-next {
	right: 20px;
	background: url(../images/ad_next.png) no-repeat right 8px;
}
.technical-slider-wrapper .bx-wrapper .bx-prev:hover {
/*background: url(../images/ad_prev.png) no-repeat 12px center #64843f;*/
}
.technical-slider-wrapper .bx-wrapper .bx-next:hover {
/*background: url(../images/ad_next.png) no-repeat 14px center #64843f;*/
}
.technical-slider-wrapper .bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	margin-top: -25px;
	outline: 0;
	width: 25px;
	height: 43px;
	padding: 10px 15px;
	text-indent: -9999px;
	z-index: 9999;
}
.technical-slider {
	text-align: center;/*margin: 0 16%;*/
}
.technical-slider .slide {
/*width: 1300px !important;*/
}
.technical-list-wrapper {
	float: left;
	width: 100%;
	padding: 40px 0;
}
.page-technical-title {
	width: 90%;
	margin: 0 5%;
	color: #333;
	font-weight: bold;
	border-bottom: 3px #ccc solid;
	float: left;
	font-size: 24px;
	margin-bottom: 30px;
}
.page-technical-title em {
	color: #333;
	font-weight: bold;
	border-bottom: 3px #ff945c solid;
	padding: 10px 0px;
	display: block;
	float: left;
	margin-bottom: -3px;
}
.page-technical-title .technical-colorbar {
	border-bottom: 3px #4c99cf solid;
}
.technical-list {
	width: 93%;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
}
.technical-list li {
	width: 30.3%;
	float: left;
	margin: 0 1.5% 30px 1.5%;
	background: #fff;
	position: relative;
}
.technical-list li img {
	width: 100%;
}
.technical-list-info {
	width: 90%;
	padding: 5%;
	float: left;
}
.technical-list-info .label-news {
	background: #ff96be;
}
.technical-list-info .label-event {
	background: #ffb400;
}
.technical-list-info .label-other {
	background: #755aa6;
}
.technical-list .title {
	float: left;
	width: 100%;
	display: block;
	margin-bottom: 8px;
	font-weight: bold;
	line-height: 20px;
	height: 40px;
	color: #4c99cf;
	overflow: hidden;
}
.technical-list .txt {
	font-size: 14px;
	float: left;
	width: 100%;
	line-height: 20px;
	color: #333;
}
.technical-list a:hover .title {
	color: #7dc7fa;
}
.technical-list a:hover .txt {
	color: #999;
}
.technical-list-wrapper a:hover .technical-list-block .title {
	color: #7dc7fa;
}
.technical-list-wrapper a:hover .technical-list-block .txt {
	color: #999;
}
.technical-list-block .pic {
	float: left;
	margin-right: 2%;
	width: 269px;
}
.technical-list-block .title {
	float: left;
	width: 70%;
	color: #ff945c;
	font-size: 26px;
	line-height: 30px;
	margin: 5px 0 20px 0;
}
.technical-list-block .txt {
	float: left;
	width: 72%;
	color: #555;
	font-size: 16px;
	margin-bottom: 20px;
	line-height: 24px;
}
.technical-list-block .info {
	float: left;
	width: 72%;
	color: #999;
	font-size: 13px;
	padding-top: 10px;
	border-top: 1px dashed #ddd;
	text-align: right;
}
.technical-detail {
	background: #fff;
	width: 80%;
	float: left;
	margin: 40px 5% 40px 5%;
	padding: 30px 5%;
}
.technical-detail .title {
	font-size: 36px;
	float: left;
	width: 100%;
	padding: 10px 0 30px 0;
	border-bottom: 1px solid #ddd;
}
.technical-detail .txt {
	float: left;
	width: 100%;
	padding: 30px 0;
	line-height: 24px;
	font-size: 16px;
	color: #333;
}
.site-list-wrapper {
	float: left;
	width: 100%;
	padding: 40px 0;
}
.site-list {
	width: 93%;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
}
.site-list li {
	width: 30.3%;
	float: left;
	margin: 0 1.5% 30px 1.5%;
	background: #fff;
	position: relative;
}
.site-list li img {
	width: 100%;
}
.site-list-info {
	width: 90%;
	padding: 5%;
	float: left;
}
.site-list-info .label-news {
	background: #ff96be;
}
.site-list-info .label-event {
	background: #ffb400;
}
.site-list-info .label-other {
	background: #755aa6;
}
.site-list .title {
	float: left;
	width: 100%;
	display: block;
	margin-bottom: 8px;
	font-weight: bold;
	line-height: 20px;
	height: 40px;
	color: #ee5c3c;
	overflow: hidden;
}
.site-list .txt {
	font-size: 14px;
	float: left;
	width: 100%;
	line-height: 20px;
	color: #333;
}
.site-list a:hover .title {
	color: #ff8a70;
}
.site-list a:hover .txt {
	color: #999;
}
.site-list-wrapper a:hover .site-list-block .title {
	color: #ff9882;
}
.site-list-wrapper a:hover .site-list-block .txt {
	color: #999;
}
/*.site-list-block .pic {
	float: left;
	width: 269px;
}*/
.site-detail {
    background: #fff;
    width: 90%;
    float: left;
    margin: 0;
    padding: 30px 5%;
}
.site-detail .title {
	font-size: 36px;
	color: #ee5c3c;
	float: left;
	width: 100%;
	padding: 10px 0 30px 0;
	border-bottom: 1px solid #ddd;
	margin-bottom: 40px;
	line-height: 48px;
}
.site-detail .site-pic {
	float: left;
	width: 94%;
	background: #eee;
	margin-bottom: 20px;
	padding: 15px 3%;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.site-detail .site-pic img {
	float: left;
	width: 100%;
}
.site-detail .site-detail-list {
	float: left;
	width: 65%;
	padding: 0 0 30px 0;
	line-height: 24px;
	font-size: 16px;
	color: #333;
}
.site-detail .site-detail-list dl, .site-detail .site-detail-list dt, .site-detail .site-detail-list dd {
	float: left;
	width: 100%;
}
.site-detail .site-detail-list dt {
	color: #000;
	font-weight: bold;
}
.site-detail .site-detail-list dd {
	margin-bottom: 20px;
	padding-bottom: 5px;
	line-height: 26px;
	border-bottom: 1px solid #e4e4e4;
}
.site-detail .site-other-info {
	float: right;
	width: 28%;
	padding: 20px;
	line-height: 24px;
	color: #333;
	background: #fafafa;
	font-size: 14px;
}
.site-detail .site-other-info .webUrl a {
	color: #333;
}
.site-detail .site-other-info .webUrl a:hover {
	color: #999;
}
.site-detail .site-other-info h2 {
	color: #000;
	font-weight: bold;
	border-bottom: 1px solid #e4e4e4;
	margin-bottom: 3px;
	padding-bottom: 3px;
}
.site-detail .site-other-info .info-section {
	padding-bottom: 15px;
}
.site-other-info .info-section dl {
	width: 100%;
	border-bottom: 1px dotted #e4e4e4;
	float: left;
	padding: 8px 0;
}
.site-other-info .info-section dt {
	width: 80px;
	float: left;
}
.site-other-info .info-section dd {
	width: 75%;
	float: left;
}
.page-misc-catalogs-wrapper {
	float: left;
	width: 100%;
	background: #f4f4f4;
	padding: 20px 0 30px 0;
}
.page-misc-catalogs {
    width: 77%;
    float: left;
    margin: 0 11.5%;
	padding: 0;
	overflow: hidden;
}
.page-misc-title {
	width: 100%;
	color: #333;
	font-weight: bold;
	border-bottom: 3px #ccc solid;
	float: left;
	font-size: 18px;
	margin-bottom: 10px;
}
.page-misc-title em {
	color: #333;
	font-weight: bold;
	border-bottom: 3px #ff945c solid;
	padding: 10px 0px;
	display: block;
	float: left;
	margin-bottom: -3px;
}
.page-misc-title .collection-colorbar {
	border-bottom: 3px #ff945c solid;
}
.page-misc-catalogs-list {
	width: 100%;
	float: left;
	margin: 15px 0 0 0;
	padding: 0;
}
.page-misc-sub-title {
	float: left;
	width: 90%;
	font-size: 12px;
	font-weight: bold;
}
.page-misc-catalogs-item {
	width: 100%;
	float: left;
	margin: 8px 0;
	padding: 0;
}
.page-misc-catalogs-item a {
	font-size: 12px;
	margin: 0 1px 1px 0;
	padding: 7px 10px;
	text-align: center;
	display: block;
	float: left;
	color: #666;
	background: #e3e3e3;
}
.page-misc-catalogs-item a:hover {
	color: #222;
}
.page-misc-recommend-wrapper {
	float: left;
	width: 100%;
	padding: 20px 0 30px 0;
}
.page-misc-recommend {
	width: 90%;
	float: left;
	margin: 0 5%;
	padding: 0;
	overflow: hidden;
}
.page-misc-recommend-list {
	width: 100%;
	margin: 15px 0 0 0;
	padding: 0;
	float: left;
}
.page-misc-recommend-list li {
	width: 24%;
	float: left;
	margin: 0 0 0 1.3%;
	padding: 0;
	background: #fff;
}
.page-misc-recommend-list li:first-child {
	margin: 0;
}
.page-misc-recommend-list li img {
	width: 100%;
}
.page-misc-recommend-list-info {
	width: 90%;
	padding: 5%;
	float: left;
}
.page-misc-recommend-list-title {
	float: left;
	width: 100%;
	display: block;
	font-weight: bold;
	line-height: 18px;
	height: 40px;
	color: #ff945c;
	font-size: 14px;
	overflow: hidden;
}
.page-misc-recommend-list li a:hover .page-misc-recommend-list-title {
	color: #ffb58e;
}
.page-misc-collection-wrapper {
	float: left;
	width: 100%;
	background: #f4f4f4;
	padding: 20px 0 30px 0;
}
.page-misc-collection {
	width: 80%;
	float: left;
	margin: 0 10%;
	padding: 0;
}
.page-misc-collection-list-block {
	float: right;
	width: 45%;
	margin: 16px 0 16px 0;
	padding: 20px;
	background: #fff;
}
.page-misc-collection-list-block img {
	float: left;
    width: 40%;
	max-width: 219px;
	margin: 0 4% 0 0;
}
.page-misc-collection-list-block .title {
	float: left;
	font-size: 18px;
	line-height: 24px;
	width: 52%;
	margin: 5px 0 10px 0;
	padding: 0;
	color: #ff945c;
}
.page-misc-collection-list-block .txt {
	float: left;
	width: 52%;
	margin: 0;
	padding: 0;
	color: #333;
	font-size: 14px;
	line-height: 18px;
}
.page-misc-collection-list-block-left {
	margin-left: 0;
	float: left;
}
.page-misc-collection a:hover .page-misc-collection-list-block .title {
	color: #ffb58e;
}
.page-misc-collection a:hover .page-misc-collection-list-block .txt {
	color: #999;
}
.union-list-wrapper {
	float: left;
	width: 100%;
	padding: 40px 0;
}
.page-union-title {
	width: 90%;
	margin: 0 5%;
	color: #333;
	font-weight: bold;
	border-bottom: 3px #ccc solid;
	float: left;
	font-size: 24px;
	margin-bottom: 30px;
}
.page-union-title em {
	color: #333;
	font-weight: bold;
	border-bottom: 3px #ff945c solid;
	padding: 10px 0px;
	display: block;
	float: left;
	margin-bottom: -3px;
}
.page-union-title .union-colorbar {
	border-bottom: 3px #4c99cf solid;
}
.union-list {
	width: 93%;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
}
.union-list li {
	width: 30.3%;
	float: left;
	margin: 0 1.5% 30px 1.5%;
	background: #fff;
	position: relative;
}
.union-list li img {
	width: 100%;
}
.union-list-info {
	width: 90%;
	padding: 5%;
	float: left;
}
.union-list-info .label-news {
	background: #ff96be;
}
.union-list-info .label-event {
	background: #ffb400;
}
.union-list-info .label-other {
	background: #755aa6;
}
.union-list .title {
	float: left;
	width: 100%;
	display: block;
	margin-bottom: 8px;
	font-weight: bold;
	line-height: 20px;
	height: 40px;
	color: #977e22;
	overflow: hidden;
}
.union-list .txt {
	font-size: 14px;
	float: left;
	width: 100%;
	line-height: 20px;
	color: #333;
}
.union-list a:hover .title {
	color: #B9A55D;
}
.union-list a:hover .txt {
	color: #999;
}
.union-list-wrapper a:hover .union-list-block .title {
	color: #7dc7fa;
}
.union-list-wrapper a:hover .union-list-block .txt {
	color: #999;
}
/*.union-list-block .pic {
	float: left;
	width: 25%;
}*/
.union-detail .txt {
	float: left;
	width: 100%;
	padding: 30px 0;
	line-height: 24px;
	font-size: 16px;
	color: #333;
}
.union-info {
	width: 100%;
	float: left;
	text-align: center;
	font-size: 14px;
	color: #666;
	margin-top: 40px;
}
.union-info .title {
	font-size: 20px;
	color: #333;
	font-weight: bold;
	width: 90%;
	margin: 0 auto;
	background: url(../images/info_bg.png) center center no-repeat;
}
.union-info .info-text {
	margin-top: 22px;
}
.union-info .info-text li {
	text-align: center;
	margin: 12px 0;
}
.union-catalogs-list {
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.union-catalogs-list .union-catalogs-list-row {
	margin-bottom: 30px;
}
.union-catalogs-list-title {
	font-size: 20px;
	padding: 15px;
	padding: 15px;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	background: url(../images/union_catalogs_open.png) 99% center no-repeat #c5b786;
}
.union-catalogs-list-close {
	background: url(../images/union_catalogs_close.png) 99% center no-repeat #c5b786;
}
.union-catalogs-list-content {
	background: #fff;
	padding: 15px;
	display: none;
}
.union-catalogs-tag {
	font-size: 14px;
	line-height: 18px;
	display: inline-block;
	margin: 0 5px 5px 0;
	padding: 7px 10px;
	background: #e6ddcf;
	color: #333;
}
.union-catalogs-tag:hover {
	background: #e6ddcf;
	color: #fff;
}
.union-detail {
	background: #fff;
	width: 80%;
	float: left;
	margin: 0 5%;
	padding: 30px 5%;
}
.union-detail .detail-title {
	font-size: 20px;
	color: #333;
	float: left;
	width: 100%;
	margin-bottom: 20px;
}
.union-detail .detail-title li {
	float: left;
	width: 100%;
	padding: 9px 0;
	border-bottom: 1px solid #ddd;
}
.union-detail .union-pic {
	float: left;
	width: 94%;
	background: #eee;
	margin-bottom: 20px;
	padding: 15px 3%;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.union-detail .union-pic img {
	float: left;
	width: 100%;
}
.union-detail .union-detail-list {
	float: left;
	width: 65%;
	padding: 0 0 30px 0;
	line-height: 24px;
	font-size: 16px;
	color: #333;
}
.union-detail .union-detail-list dl, .union-detail .union-detail-list dt, .union-detail .union-detail-list dd {
	float: left;
	width: 100%;
}
.union-detail .union-detail-list dt {
	color: #000;
	font-weight: bold;
}
.union-detail .union-detail-list dd {
	margin-bottom: 20px;
	padding-bottom: 5px;
	line-height: 26px;
	border-bottom: 1px solid #e4e4e4;
}
.union-detail .union-other-info {
	float: right;
	width: 28%;
	padding: 20px;
	line-height: 24px;
	color: #333;
	background: #fafafa;
	font-size: 14px;
}
.union-detail .union-other-info .webUrl a {
	color: #333;
}
.union-detail .union-other-info .webUrl a:hover {
	color: #999;
}
.union-detail .union-other-info h2 {
	color: #000;
	font-weight: bold;
	border-bottom: 1px solid #e4e4e4;
	margin-bottom: 3px;
	padding-bottom: 3px;
}
.union-detail .union-other-info .info-section {
	padding-bottom: 15px;
}
.union-detail .site-other-info .info-section dl {
	width: 100%;
	border-bottom: 1px dotted #e4e4e4;
	float: left;
	padding: 8px 0;
}
.union-detail .site-other-info .info-section dt {
	width: 80px;
	float: left;
}
.union-detail .site-other-info .info-section dd {
	width: 75%;
	float: left;
}
.photo-list {
	float: left;
	width: 100%;/*background: #000;*/
}
.photo-list .fotorama__stage {
	background: #000;
}
.union-detail-content {
	width: 100%;
	margin: 50px 0;
}
.union-detail-content ul {
	background: url(../images/dash_line.png) 0 top repeat-x;
}
.union-detail-content li {
	width: 100%;
	padding: 20px 0;
	background: url(../images/dash_line.png) 0 bottom repeat-x;
}
.union-recommend li {
	width: 100%;
	padding: 10px 0;
	text-align: center;
	border-top: 1px solid #e4e4e4;
}
.union-recommend li:first-child {
	border-top: none;
}
.union-recommend li a {
	display: block;
	width: 100%;
}
.union-recommend li a:hover {
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	opacity: 0.7;
}
.union-recommend li img {
	display: inline;
	width: 40%;
	margin-bottom: -6px;
}
#about-introduction h1 {
    font-size: 36px;
    line-height: 45px;    
    margin: 40px 0 30px 0;
    font-weight: bold;
}
#about-introduction h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
}
#about-introduction p {
    margin: 10px 0 30px 0;
}
.mode-switch {
    width: 90%;
    margin: 0 auto;
    padding: 0 0 10px 0;
    overflow: hidden;
}
.mode-switch ul {
    float: right;
    border: 1px solid #aaa;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.mode-switch li {
    float: left;
    margin: 0;
    padding: 5px 5px;
    width: auto;
}
.mode-switch a {
    width: 18px;
    height: 18px;
    display: block;
    overflow: hidden;
    line-height: 999px;
    background-position: left bottom;
    background-repeat: no-repeat;
}
.mode-switch a:hover,
.mode-switch a.active {
    background-position: center top;
}
.mode-switch .icon-grid {
    background-image: url(../images/icon-grid.png);
}
.mode-switch .icon-list {
    background-image: url(../images/icon-list.png);
}
.grid {
    width: 92.1%;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}
.grid-item {
	width: 23%;
	float: left;
	margin: 0 1% 30px 1%;
	background: #fff;
	position: relative;
}
.grid-item img {
	width: 100%;
}
.grid-item .txt {
    font-size: 14px;
    float: left;
    width: 100%;
    line-height: 20px;
    color: #333;
}
.grid a:hover .txt {
	color: #999;
}
.collection-grid .title {
	float: left;
	width: 100%;
	display: block;
	margin-bottom: 8px;
	font-weight: bold;
	line-height: 20px;
	height: 40px;
	color: #ff945c;
	overflow: hidden;
}
.collection-grid a:hover .title {
	color: #ffb58e;
}
.site-grid .title {
	float: left;
	width: 100%;
	display: block;
	margin-bottom: 8px;
	font-weight: bold;
	line-height: 20px;
	height: 40px;
	color: #ee5c3c;
	overflow: hidden;
}
.site-grid a:hover .title {
	color: #ff8a70;
}

